.content {
    border-radius: 8px;
    width: 200px;
    margin: 20px 5px 30px 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid #dadce0;
}

h4 {
    word-wrap: normal;
}

img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}